[Unit]
Description=dotnet Modulbank.BuhTemplate
After=network.target

[Service]
EnvironmentFile=/etc/modulbank/common.conf
EnvironmentFile=/etc/modulbank/Modulbank.BuhTemplate.conf

Restart=always
Type=simple
WorkingDirectory=/usr/local/bin/modulbank/Modulbank.BuhTemplate
ExecStart=/usr/bin/dotnet ./Modulbank.BuhTemplate.Application.dll
User=backend
Group=backend

[Install]
WantedBy=multi-user.target